<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="{{uiRootPath}}/static/images/ua.png" class="site-logo"/>
      <a class="navbar-item site-title" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" x2="16.65" y1="21" y2="16.65"></line>
          </svg>
          <input id="search-input" type="text" placeholder="{{#if (eq page.attributes.lang 'ua')}}Пошук по документації{{else}}Search documentation{{/if}}"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</header>

<link rel="stylesheet" href="{{uiRootPath}}/vendor/swagger/4.15.5/swagger-ui.min.css">
<link rel="stylesheet" href="{{uiRootPath}}/vendor/swagger/4.15.5/swagger-custom.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/vendor/medium-zoom/medium-zoom.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/vendor/tabs/1.0.0-beta.3/tabs.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/static/css/language-selector.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/static/css/custom-site.css">